ui:
  message: "Hello from podinfo.{{ .StateValues.cluster.domains.external }}!"

resources:
  limits:
    memory: 32Mi
  requests:
    cpu: 5m
    memory: 32Mi

httpRoute:
  enabled: true
  parentRefs:
    - name: gateway-external
      namespace: kgateway-system
      sectionName: https
  hostnames:
    - podinfo.{{ .StateValues.cluster.domains.external }}
