nameOverride: vmsingle

server:
  retentionPeriod: 30d
  statefulSet:
    spec:
      persistentVolumeClaimRetentionPolicy:
        whenDeleted: Delete
  replicaCount: 2
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/instance: {{ .Release.Name }}
              app.kubernetes.io/component: server
          topologyKey: kubernetes.io/hostname
  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 512Mi
  podSecurityContext:
    enabled: true
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  securityContext:
    enabled: true
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  persistentVolume:
    storageClassName: longhorn
    size: 4Gi
  route:
    enabled: true
    parentRefs:
      - name: gateway-internal
        namespace: kgateway-system
        sectionName: https
    hostnames:
      - "vmsingle.{{ .StateValues.cluster.domains.internal }}"
  scrape:
    enabled: true
  serviceMonitor:
    enabled: true

podDisruptionBudget:
  enabled: true
  maxUnavailable: 1
