nameOverride: vmsingle

server:
  priorityClassName: system-cluster-critical
  replicaCount: 2
  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 40m
      memory: 256Mi
  persistentVolume:
    storageClassName: longhorn
  route:
    enabled: true
    parentRefs:
      - name: gateway-internal
        namespace: kgateway-system
        sectionName: https
    hostnames:
      - "vmsingle.{{ .StateValues.cluster.domains.internal }}"
  scrape:
    enabled: true

podDisruptionBudget:
  enabled: true
  maxUnavailable: 1
