projects:
  {{- range $index, $entry := readDirEntries "../../../" }}
  {{- if $entry.IsDir }}
  {{- $parts := splitList "-" $entry.Name }}
  {{- if ne (len $parts) 2 }}
  {{- fail (printf "invalid directory name for project %q" $entry.Name) }}
  {{- end }}
  {{ $entry.Name }}:
    allowedNamespaces: {}
    allowedResources: {}
  {{- end }}
  {{- end }}
